.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.task {
  flex-basis: 120px;
  border-width: 4px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(18, 179, 48, 0.213);
}
.task-link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 24px;
  line-height: 40px;

  background-color: rgba(0, 255, 247, 0.584);
  text-align: center;
  color: rgb(13, 4, 0);
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  text-decoration: none;
}
.go-back {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: cyan;
  display: block;
  text-align: center;
  background-color: rgb(84, 84, 164);
  width: 200px;
  height: 40px;
  border: solid 1px white;
  border-radius: 4px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.go-back:hover {
  background-color: cornflowerblue;
}

.counter-container {
  margin-top: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.counter-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
}
.view-aria {
  display: block;
  width: 100px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 4px;
}
